Estruturas de Repetição

- for/range

   -sintaxe: for contador in  range(repetições):
                  comando a ser repetido
   - prestar atenção na identação

In [2]:
for i in range(5):
  #identação
  print("Olá mundo")

Olá mundo
Olá mundo
Olá mundo
Olá mundo
Olá mundo

for contador in range(inicio, termino,passo)

In [7]:
#contando de 2 em 2, começando por 100 até 110
for i in range(100,110,2):
  print(i)

100
102
104
106
108

for com variáveis contadoras e variáveis acumuladoras

-exemplo: Cadastrar o salário e o sexo de 10 pessoas. Ao final imprimir o número de mulheres e o total de salários  e o número homens com o total de salário

In [26]:
totalH = 0
totalM = 0
salM = 0
salH = 0

for pessoas in range(4):
  sal = 0
  sexo = input("Digite o seu sexo(M ou H): ")
  sal = float(input("Digite o seu salário: "))
  if sexo == 'm' or sexo == 'M':
    totalM = totalM+1
    salM = salM + sal

  elif sexo == 'h' or sexo == 'H':
    totalH = totalH+1
    salH = salH +sal

  else:
    print("Entrada inválida")

print(f"Número de Mulheres: {totalM} Total do salário: R$ {salM:.2f}")

print(f"Número de Homens: {totalH} do salário: R$ {salH:.2f}")

Digite o seu sexo(M ou H): H
Digite o seu salário: 10
Digite o seu sexo(M ou H): h
Digite o seu salário: 10
Digite o seu sexo(M ou H): M
Digite o seu salário: 20
Digite o seu sexo(M ou H): m
Digite o seu salário: 20
Número de Mulheres: 2 Total do salário: R$ 40.00
Número de Homens: 2 do salário: R$ 20.00