Lista-Métodos:

In [1]:
lista = ['Linguagem C','Phyton','Cobol']
print(lista)
lista = [1,2,3,4]
print(lista)
type(lista)#tipo de dado

['Linguagem C', 'Phyton', 'Cobol']
[1, 2, 3, 4]

list

Criando uma lista a partir da função list()
        
         -nome da lista = list([dados da lista])

In [4]:
#criando uma lista pela função list
lista = list(['a','b'])
print(lista)
type(lista)

['a', 'b']

list

Lista com for

In [6]:
#elevando os números da lista ao quadrado, começando por zero
lista = [item**2 for item in range(10)]
print(lista)

#elevando os números da lista ao cubo, dez vezes, começando por cem, indo de cinco em cinco
lista = [item**3 for item in range(10,100,5)]
print(lista)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[100, 225, 400, 625, 900, 1225, 1600, 2025, 2500, 3025, 3600, 4225, 4900, 5625, 6400, 7225, 8100, 9025]

In [7]:
#registrando apenas números pares na lista, começando por zero até vinte
lista = [numero for numero in range(20) if numero%2==0]
print(lista)


#registrando apenas números impares na lista, começando por zero até vinte
lista = [numero for numero in range(20) if numero%2!=0]
print(lista)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
#imprimindo posições específicas da lista
lista = ['a','b','c','d']
print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])

a
b
c
d

In [10]:
#imprimindo posições específicas da lista
lista = ['a','b','c','d']
#último elemento da lista
print(lista[-1])
print(lista[3])
#penúltimo elemento da lista
print(lista[-2])

d
d
c

In [25]:
#lista com sublista
lista = [1,2,3,4,['a','b','c'],5,6]
print(lista)

#imprimindo primeiro elemento da sublista
print(lista[4][0])
#imprimindo a sublista
print(lista[4])

#incluindo número 22 no fim da lista
lista.append(22)
print(lista)
#incluindo letra X no começo da lista
lista.insert(0,'X')
print(lista)
#incluindo número 100 no fim da lista
lista.append(100)

print(f"Lista completa: {lista}")

[1, 2, 3, 4, ['a', 'b', 'c'], 5, 6]
a
['a', 'b', 'c']
[1, 2, 3, 4, ['a', 'b', 'c'], 5, 6, 22]
['X', 1, 2, 3, 4, ['a', 'b', 'c'], 5, 6, 22]
Lista completa: ['X', 1, 2, 3, 4, ['a', 'b', 'c'], 5, 6, 22, 100]

In [27]:
#percorremdo uma lista e usando 'enumerate' para indicar as posições
lista = [1,2,3,4,['a','b','c'],5,6]
for indice, valor in enumerate(lista):
  print(f"Indice: {indice}, valor: {valor}")

Indice: 0, valor: 1
Indice: 1, valor: 2
Indice: 2, valor: 3
Indice: 3, valor: 4
Indice: 4, valor: ['a', 'b', 'c']
Indice: 5, valor: 5
Indice: 6, valor: 6

In [33]:
lista = [1,2,3,4,['a','b','c'],5,6]
#recortando as posições começando por 3 até 5, contando de 1 em 1
print(lista[3:5:1])

[4, ['a', 'b', 'c']]

In [34]:
lista = list(range(20))
print(lista)
print(lista[10:19])
print(lista[10:19:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 11, 12, 13, 14, 15, 16, 17, 18]
[10, 12, 14, 16, 18]

In [39]:
lista=[41,12,3,4,99,5,6]
print(lista)
#ordenando a lista por ordem crescente
lista.sort()
print(lista)
#ordenando a lista por ordem inversa
lista.sort(reverse=True)
print(lista)
print(f'Maior valor da lista: {max(lista)}')
print(f'Menor valor da lista: {min(lista)}')
print(f'Tamanho da lista: {len(lista)}')
print(f'Soma dos elementos da lista: {sum(lista)}')

[41, 12, 3, 4, 99, 5, 6]
[3, 4, 5, 6, 12, 41, 99]
[99, 41, 12, 6, 5, 4, 3]
Maior valor da lista: 99
Menor valor da lista: 3
Tamanho da lista: 7
Soma dos elementos da lista: 170

In [41]:
lista = [1,2,3,4,['a','b','c'],5,6]
print(lista)
#Removendo elementos da lista
#Removendo valor da primeira posição da lista
lista.pop(0)
print(lista)

#Removendo elemento especifico da lista
lista.remove(5)
print(lista)

[1, 2, 3, 4, ['a', 'b', 'c'], 5, 6]
[2, 3, 4, ['a', 'b', 'c'], 5, 6]
[2, 3, 4, ['a', 'b', 'c'], 6]